<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.885154482879-163i49b5dm3oh58vqejbmbbm0kv1rep0</string>
			</array>
		</dict>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Voice entry turns spoken doubles results into a saved game.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>The microphone is used to speak doubles game results.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Player photos can be uploaded to the shared stats site.</string>
</dict>
</plist>
